#u94{background-color:#000000;}#u109-6_img{vertical-align:top;display:block;}#u97,#u103,#u99,#u105,#u101,#u107{background-color:transparent;}@media (min-width: 951px), print{#u94_align_to_page{max-width:1200px;}}